span.guess_emoji_content img {
  width: 24px;
  height: 24px;
}

#social_networks_links {
  margin-bottom: -6px;  
  position: relative;
}

#social_networks_links .fb-share-button {
  position: absolute;
  top: 0;
  right: 85px;
}
