<%= form_for @changeset, @action, fn f -> %>
  <div class="form-group">
    <%= label f, :content, guess_content_label(@emoji), class: "control-label" %>
    <%= text_input_with_errors @changeset, f, :content, autofocus: :autofocus %>
    <%= error_tag f, :content %>
  </div>

  <%= if @emoji.tip do %>
    <p>
      Tip: <%= @emoji.tip %>
    </p>
  <% end %>

  <div class="form-group mb-0">
    <%= submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
