<div class="card">
  <div class="card-header">
    Take your guess
  </div>

  <div class="card-body">
    <%= render "form.html", Map.put(assigns, :action, emoji_guess_path(@conn, :create, @emoji)) %>
  </div>
</div>
