<div class="jumbotron border">
  <h1 class="display-4">
    Guess the movie from the emojis!
  </h1>

  <p class="lead">
    That's all this website is about! I show you the emojis, and you tell me
    the movie!
  </p>

  <p class="lead">
    <%= link "Let me try!", to: guess_path(@conn, :new),
      class: "btn btn-primary btn-lg" %>
  </p>
</div>
