<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Guess the movie from the emoji!">
    <meta name="author" content="Elomar Nascimento dos Santos">

    <title>Guessmoji - Guess the movie from the emoji!</title>

    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body class="bg-light">
    <%= render "header.html", assigns %>

    <div class="container">
      <%= alert(@conn, :info) %>
      <%= alert(@conn, :error) %>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>
    </div>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
