<!DOCTYPE html>

<html lang="en">
  <head>
    <%= render "metatags.html", assigns %>

    <title>Guessmoji - Guess the movie from the emoji!</title>

    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">

    <%= render "google_analytics.html" %>
  </head>

  <body>
    <%= render "header.html", assigns %>

    <div class="container">
      <%= alert(@conn, :info) %>
      <%= alert(@conn, :error) %>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>
    </div>

    <!-- 
      EmojiOne doesn't work with brunch build --production, 
      so it's being included here. 
    -->
    <script src="<%= static_path(@conn, "/js/emojione.min.js") %>""></script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
